<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container py-5">
    <h1 class="mb-4">Carica un File</h1>

    <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="userId" class="form-label">User ID:</label>
            <input type="text" class="form-control" id="userId" name="userId" placeholder="Inserisci user ID" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Servizi da attivare:</label><br>
            <input type="checkbox" id="srv1" name="services" value="summarization">
            <label for="srv1"> Summarization</label><br>
            <input type="checkbox" id="srv2" name="services" value="nlp">
            <label for="srv2"> NLP</label><br>
            <input type="checkbox" id="srv4" name="services" value="context" >
            <label for="srv4"> Context (solo per immagini)</label>
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Seleziona un File:</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>

        <!-- Campo nascosto per indicare il tipo di file -->
        <input type="hidden" id="fileType" name="fileType" value="">

        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <h2>Le tue richieste</h2>
    <form action="/requests" method="get">
        <label for="userId">Inserisci User ID:</label>
        <input type="text" name="userId" required>
        <input type="submit" value="Visualizza richieste">
    </form>
</div>


</body>
</html>
